extends ./_template/_layout

block vars
  //-
    - var script = 'Top'


block includes
  //- include ./_template/parts/article/datas/_index
  //- include ./_template/parts/article/_article

block body

  //-#background-image.background-image
  //-  .background-image__inner

  main#main.main
    .main__inner


      //-
        footer#footer.footer
          .footer__inner

  article.test あ

